.productsContainer{
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.goBack{
    font-size: 1rem;
    margin: 1rem;
}
.goBack:hover{
    cursor: pointer;
}

.adminLinks{
    display: flex;
    justify-content: center;
    align-items: center;
}