.categoriesContainer{
    display: flex;
    gap: 13vw
}

.menuContainer{
    display: flex;
    flex-direction: column;
}

.menuHeading{
    font-size: 1.4rem;
    font-weight: 700;
}

.productsContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.selectedCategoryName{
    margin-bottom: 2rem;
}