.navContainer{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 1rem 5rem 1rem 5rem
}

.navLinks{
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    gap: 2rem;
}

.navHeading{
    font-size: 1.2rem;
}

.navLink:hover{
    cursor: pointer;
}
.navHeading:hover{
    cursor: pointer;
}